.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
}

.root span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}

.root p {
  font-family: var(--standard-header);
  font-weight: normal;
  font-size: 32px;
  line-height: 1.4;
  text-align: center;
  max-width: 720px;
}

@media (max-width: 600px) {

  .root p {
    font-size: 24px;
    line-height: 1.4;
  }
}