.root {}

.blogContainer {
    margin-top: 80px;
}

.excerpt {
    font-weight: normal;
    font-size: 20px;
    line-height: 1.4;
    font-family: var(--standard-header);
}

.blogParagraph {
    font-weight: normal;
    font-size: 15px;
    line-height: 1.6;
    margin-top: 24px;
}

.imagesContainer {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    margin: 48px 0px;
}

.imageContainer {
    width: 100%;
    height: 700px;
    border-radius: 12px;
    overflow: hidden;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.blogSubHeader {
    font-size: 22px;
    line-height: 1.3;
    font-weight: normal;
    margin-bottom: 20px;
}

.content {
    width: 90%;
    margin: 0 auto;
}

@media (max-width: 800px) {
    .imagesContainer {
        grid-template-columns: 1fr;
    }

    .excerpt {
        font-size: 18px;
        line-height: 1.4;
    }

    .content {
        width: 100%;
    }

    .blogParagraph {
        font-size: 14px;
        line-height: 24px;
    }

    .imageContainer {
        height: 40vh;
    }

}
.videoContainer {
    border-radius: 12px;
    overflow: hidden;
}
