.root {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 45vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--standard-white);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--standard-white);
  max-width: 500px;
  gap: 10px;
}

.title {
  font-size: 32px;
  line-height: 1.1;
  font-weight: normal;
  text-align: center;
  white-space: pre-wrap;
}

.subtitle {

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.ctaButton {
  width: 180px;

}

.ctaLink {

  text-transform: uppercase;
  color: var(--standard-white);
  border-bottom: 1px solid var(--standard-white);

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.header {
  color: var(--standard-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .root {
    min-height: 40vh;
  }

  .title {
    font-size: 32px;
    line-height: 1.3;
  }

  .subtitle {
    font-size: 18px;
    line-height: 20px;
  }
}

@media (max-width: 500px) {
  .content {
    padding: 0px 32px;
  }
}