.root {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 0px;
    gap: 40px;
}

@media (max-width: 800px) {
    .root {
        grid-template-columns: repeat(1, 1fr);
    }
}