.root {
    width: 100%;
}

/* special case with the image */
.root>div {
    background-position: right;
}

.navContainer {
    display: flex;
    align-items: center;
    white-space: nowrap;
    border-bottom: 1px solid var(--bg-light-gray);
    position: sticky;
    gap: 48px;
    top: 150px;
    background-color: var(--standard-white);
    overflow-x: auto;
    padding-left: 32px;
    padding-right: 32px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.navContainer>div:first-child {
    margin-left: auto;
}

.detailContainer {
    margin-top: 80px;
    margin-bottom: 80px;
}

.detailContainer p {
    font-family: var(--standard-header);
    font-size: 32px;
    line-height: 1.4;
    text-align: center;
}

.imageContainer {
    margin: 40px auto;
    max-width: 1200px;
    min-height: 400px;
}

.imageContainer img {
    width: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 80px;
}

.content h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.content p {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
}

.content img {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 600px;
}

.content ol {
    padding-left: 32px;
    margin-bottom: 32px;
}

.content ol li {
    font-family: var(--standard-header);
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.content ul {
    margin-bottom: 32px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.navContainer::-webkit-scrollbar {
    display: none;
}

@media (max-width:1050px) {
    .content img {
        width: 100%;
    }

    .content h3 {
        margin-right: 24px;
    }
}

@media (max-width: 900px) {
    .content {
        grid-template-columns: 1fr;
        gap: 24px 0px;
    }

    .content h3 {
        font-size: 32px;
        line-height: 38px;
    }

    .content ol li {
        font-size: 22px;
        line-height: 42px;
    }

    .detailContainer p {
        font-size: 22px;
        line-height: 28px;
    }

    .imageContainer {
        min-height: unset;
        margin: 24px 16px;
        height: 240px;
    }

    .imageContainer img {
        height: 100%;
    }

    .detailContainer {
        margin-top: 32px;
    }
}

@media (max-width: 800px) {
    .navContainer {
        top: 90px;
    }

    .imageContainer {
        padding-bottom: 100px;
    }
}