.contentContainer {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgba(245, 197, 24, 0.08) 0%, rgba(245, 197, 24, 0.12) 100%);
    padding-top: 32px;
    padding-bottom: 88px;
}

.summaryContainer {
    margin-top: 72px;
}

.summaryContainer h3 {
    text-align: center;
    font-weight: normal;
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 40px;
    color: var(--standard-black);
}

.cartContainer {
    display: grid;
    grid-template-columns: 1fr 420px;
    gap: 40px;
}

.glassBox {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 30px;
    color: var(--standard-black);
}

.glassBox h4 {
    margin-bottom: 20px;
    font-size: 24px;
}



@media (max-width: 1150px) {
    .cartContainer {
        grid-template-columns: 1.5fr 1fr;
    }
}

@media (max-width: 900px) {
    .cartContainer {
        grid-template-columns: 1fr;
        margin-top: 40px;
    }

    .summaryContainer h3 {
        font-size: 32px;
        line-height: 38px;
    }
}